[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dataprep"]
	path = dataprep
	url = https://github.com/chunshengliang/dataprep
